
/* = Child Theme Custom CSS File
-------------------------------------------------------------- */


/* = Business Type
-------------------------------------------------------------- */
#document-section {
  background:#f2f2f2;
}
#document-section h2 {
  padding:18px 0;
  margin:0;
}

#document-section .columns {
  margin-right:10px;
}

#document-section .list{
  background:#f2f2f2;
  padding:10px;
  width: 64%;
  margin-bottom:20px;
}
#document-section .list p {
  margin:0;
  padding:0;
}
#document-section .pdf, #document-section .link{
  text-align:center;
}
#document-section .pdf .button, #document-section .link .button{
    width:100%;
}

#document-section .fa-stack {
  color:#e46c53;
}
#document-section .more.one{
  width:12.333%;
  margin-right: 20px;
}
#document-section .more .button{
  padding: 10px 0 10px 10px;
}

#document-section .button{
  padding: 10px 0;
}

#document-section .more, #document-section .pdf, #document-section .link, #document-section .list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#document-section a[href$='.pdf']::after, #document-section a[href$='.pdf']::before{
  content:'';
  padding:0;
  margin:0;
}
.inner {
  background:#fff;
  padding: 20px 20px 85px 20px;
}
#must-have [class*="wrapper"]::before, #might-need [class*="wrapper"]::before{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
#must-have a, #might-need a{
  font-weight:bold;
}

#dom-target {
  display:none;
}

.overview-wrapper::before {
  content:"Overview";
}

.state-wrapper::before {
  content:"State and Federal Filings";
}

.license-wrapper::before {
  content:"Licenses";
}

.taxes-wrapper::before {
  content:"Taxes";
}

.zoning-wrapper::before {
  content:"Zoning";
}

.permit-wrapper::before {
  content:"Permits";
}

.permit,
.zoning,
.taxes,
.license,
.state,
.overview,
.overview-wrapper,
.state-wrapper,
.license-wrapper,
.taxes-wrapper,
.zoning-wrapper,
.permit-wrapper {
  clear:both;
  position:relative;
}

.permit,
.zoning,
.taxes,
.license,
.state,
.overview{
  top:50px;
}

/* = General
-------------------------------------------------------------- */
.button {
  display:inline-block;
  padding:10px;
  background:#4079AB;
  color:#fff;
}
.red {
  background:#E46C53;
  color:#fff;
}

.full {
  width:100%;
}
.inactive {
  opacity: 0.3;
}
.group::after {
  content:'';
  display:table;
  clear:both;
}


/* = Theme overrides
-------------------------------------------------------------- */
.gdlr-item.gdlr-main-content {
  margin-bottom: 40px;
}
.gdlr-item-start-content {
  padding-top:40px;
}

a[href$='.pdf']::before{
  padding:0 6px 0 0;
  content: " \f1c1";
  font-family:"FontAwesome";
}
a[href$='.pdf']::after{
  content:" (PDF)";
}

/* = Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 64em) {
  .permit,
  .zoning,
  .taxes,
  .license,
  .state,
  .overview{
    top:0;
  }

  #document-section .more, #document-section .pdf, #document-section .link{
    display:none;
  }
  #document-section .list {
    position: relative;
    top: 0;
    transform: translateY(0);
    width:95%;
  }
}
