
/* = Child Theme Custom CSS File
-------------------------------------------------------------- */
/* = Homepage
-------------------------------------------------------------- */
#business-status h4, .box-list h3 {
  text-transform:uppercase;
  font-weight:bold;
  color:#3d506d;
  letter-spacing: .2em;
}

.home .gdlr-box-with-icon-item {
  cursor:pointer;
}

.home .gdlr-box-with-icon-item a, .home .gdlr-box-with-icon-item a:visited{
  color:#929292;
}

}
.home .gdlr-box-with-icon-item a,  .home .gdlr-box-with-icon-item a:link, .home .gdlr-box-with-icon-item a:visited{
  color: #929292;
}
.home .gdlr-box-with-icon-item:hover a{
  color:#F5F5F5;
}

.home .gdlr-box-with-icon-item:hover {
  background:#3d506d;
  color:#F5F5F5;
}

.home #business-status .gdlr-box-with-icon-item:hover h4{
  color:#F5F5F5;
}

/*--------------------------------------------New Edits after mock up---------------------------------- */
/*Change in font color from yello to grey for announcements and events */
.gdlr-skin-homepage-project h3,.gdlr-skin-homepage-project .gdlr-skin-title{
    color: #818181;
}

/*Change in font size and weight for announcements and events */
.gdlr-item-title-wrapper.pos-left-bold .gdlr-item-title {
  font-size: 25px;
  font-weight: 600;
}
/*Change in font color for announcements and events post*/
.gdlr-skin-homepage-project a {
  color: #E7E7E7;
}
/*Reduces the margine under announcements and events post*/
.gdlr-item.gdlr-blog-grid {
   margin-bottom: 0;
}
/*Adds the doulble line under each post title*/
.gdlr-blog-grid .gdlr-blog-title {
  font-size: 16px;
  margin-bottom: 13px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom:1px solid #fff;
}


/* = Business Type
-------------------------------------------------------------- */
.parent {
  padding-top:1px;
}
.pipe::after {
  content:" | ";

}
.pipe:last-of-type::after {
  content:"";

}
#document-section {
  background:#f2f2f2;
}
#document-section h2{
  padding:18px 0;
  margin:0;
}
#document-section h3 {
  float:left;
}

#document-section .columns {
  margin-right:10px;
}

#document-section .list.columns{
  background:#f2f2f2;
  padding:10px;
  width: 64%;
  margin-bottom:20px;
  height:100%;
}

.with-sidebar-content #document-section .list.columns{
  width: 61%;
}
#document-section .list.columns p {
  margin:0;
  padding:0;
  height:100%;
  display:block;
}
#document-section .pdf, #document-section .link{
  text-align:center;
}
#document-section .pdf .button, #document-section .link .button{
    width:100%;
}

#document-section .fa-stack {
  color:#e46c53;
}
#document-section .more.one{
  width:12.333%;
  margin-right: 20px;
}
#document-section .more .button{
  padding: 10px 0 10px 10px;
}

#document-section .button{
  padding: 10px 0;
}

#document-section a[href$='.pdf']::after, #document-section a[href$='.pdf']::before{
  content:'';
  padding:0;
  margin:0;
}
.inner {
  background:#fff;
  padding: 20px;
  margin: 30px 0;
}
.inner:last-of-type{
  margin:0;
}
#must-have [class*="wrapper"]::before, #might-need [class*="wrapper"]::before{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
#must-have [class*="wrapper"]:first-child{
	height:70px;
}
#must-have a, #might-need a{
  font-weight:bold;
}
.document-row a.h3{
  display:block;
}
#dom-target {
  display:none;
}
.document-row{
  clear:both;
  position:relative;
}
.business-flag{
  padding:0 10px;
  position:relative;
  top:-12px;
  left:-10px;
  background:#4a72b2;
  color:white;
  font-style:italic;
  font-size:12px;
  display:inline-block;
}
.business-flag::before {
  content: "\f024";
  font-family:"FontAwesome";
  margin-right:10px;
}
.business-flag span::after {
  content: ", ";
}
.business-flag span:last-child::after {
  content:" Only";
}

.may-also-need{
  background:#DCDCDC;
  padding:20px;
}
/*
.permit,
.zoning,
.taxes,
.license,
.state,
.overview{
  top:50px;
}
*/
/* = General
-------------------------------------------------------------- */
.button {
  display:inline-block;
  padding:10px;
  background:#4079AB;
  color:#fff;
}
.red {
  background:#E46C53;
  color:#fff;
}

.full {
  width:100%;
}
.inactive {
  opacity: 0.3;
}
.group::after {
  content:'';
  display:table;
  clear:both;
}
.right {
  float:right;
}

.label {
  text-align: center;
  font-size: small;
  font-style: italic;
}

.box-list {
  background: #F5F5F5;
  padding: 20px;
  overflow:hidden;
  margin-bottom:20px;
}
.box-list{
  color: #929292;
}
.box-list h3{
  font-size:16px;
  letter-spacing:.1em;
}
.box-list:hover, .box-list:hover h3 {
  color:#F5F5F5;
  background:#3d506d;
}

.filter-content {
  width: 64%;
  border: 1px solid #3d506d;
  padding: 10px;
  margin: 10px 0;
}

.with-sidebar-content .filter-content {
  width: 100%;
}
/* = Theme overrides
-------------------------------------------------------------- */
.gdlr-item.gdlr-main-content {
  margin-bottom: 40px;
}
.gdlr-item-start-content {
  padding-top:40px;
}
a[href$='.pdf']::before{
  padding:0 6px 0 0;
  content: " \f1c1";
  font-family:"FontAwesome";
}
a[href$='.pdf']::after{
  content:" (PDF)";
}

a{
  transition: none;
  -moz-transition:none;
  -o-transition: none;
  -webkit-transition: none;
}
.excerpt-read-more {
  display:none;
}
/* = Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 64em) {
  #document-section .label{
    display:none;
  }
  #document-section .list {
    position: relative;
    top: 0;
    transform: translateY(0);
    width:95%;
  }
}
