
/* = Child Theme Custom CSS File
-------------------------------------------------------------- */
body {
	letter-spacing: inherit;
}
/* = Homepage
-------------------------------------------------------------- */
#business-status h4{
  text-transform:uppercase;
  font-weight:bold;
  color:#3d506d;
  letter-spacing: .2em;
}
.gdlr-item-title-wrapper.gdlr-item {
  margin-bottom: 20px;
}
.gdlr-item-title-wrapper.pos-left .gdlr-item-title {
	font-size:25px;
}

.gce-list-event, .gce-tooltip-event {
  background-color: transparent;
  padding: 0;
}
.gce-list-link::after{
  content:" »";
}

/*shrink page title bg */
.gdlr-page-title-wrapper {
	padding:20px 0px 20px;
}
/*Change in font color for announcements and events post*/
.gdlr-skin-homepage-project a {
  color: #E7E7E7;
}
/*Adds line under each post title*/
.home .gdlr-blog-title, .home .gce-feed {
  font-size: 13px;
  margin-bottom: 13px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom:1px solid #fff;
}
.home .gdlr-blog-title a {
  color: #3D506D;
}
h3.gdlr-blog-title::before{
  content:" »";
  padding:0 5px 0;
}
.home .button.red {
	padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
/*------------------------------------------------------------------------------ */

.home .gdlr-box-with-icon-item {
  cursor:pointer;
}

.home .gdlr-box-with-icon-item a, .home .gdlr-box-with-icon-item a:visited{
  color:#929292;
}
.home .gdlr-box-with-icon-item a,  .home .gdlr-box-with-icon-item a:link, .home .gdlr-box-with-icon-item a:visited{
  color: #929292;
}

.home .gdlr-box-with-icon-item:hover a{
  color:#F5F5F5;
}

.home .gdlr-box-with-icon-item:hover {
  background:#3d506d;
  color:#F5F5F5;
}

.home #business-status .gdlr-box-with-icon-item:hover h4{
  color:#F5F5F5;
}

.home .gdlr-blog-content {
	display:none;
}
/*--------------------------------------------New Edits after mock up---------------------------------- */
/*Change in font color from yello to grey for announcements and events */
.gdlr-skin-homepage-project h3,.gdlr-skin-homepage-project .gdlr-skin-title{
    color: #818181;
}

/*Change in font size and weight for announcements and events */
.gdlr-item-title-wrapper.pos-left-bold .gdlr-item-title {
  font-size: 25px;
  font-weight: 600;
}
/*Change in font color for announcements and events post*/
.gdlr-skin-homepage-project a {
  color: #E7E7E7;
}
/*Reduces the margine under announcements and events post*/
.gdlr-item.gdlr-blog-grid {
   margin-bottom: 0;
}

/* = Business Type
-------------------------------------------------------------- */
.parent, .child {
  padding-top:20px;
}
.pipe::after {
  content:" | ";

}
.pipe:last-of-type::after {
  content:"";

}
#document-section {
  background:#f2f2f2;
}
#document-section h2{
  padding:18px 0;
  margin:0;
}
#document-section h3 {
  float:left;
}
.document-row {
	margin-bottom:20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#document-section .list.columns{
  background:#f2f2f2;
  padding:10px;
  width: 74%;
  height:100%;
}
#document-section .menu-page .list.columns{
	width:84%;
}

.with-sidebar-content #document-section .list.columns, .with-sidebar-content .filter-content {
  width: 71%;
}
#document-section .list.columns p {
  margin:0;
  padding:0;
  height:100%;
  display:block;
  word-wrap:break-word;
}
#document-section .pdf, #document-section .link{
  text-align:center;
}
#document-section .pdf .button, #document-section .link .button{
    width:100%;
}
.pdf-download {
	margin: 0 auto;
	position: relative;
	top: -23px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
#document-section .fa-stack {
  color:#e46c53;
}
#document-section .more.one{
  width:12.333%;
  margin-right: 20px;
}
#document-section .more .button{
  padding: 10px 0 10px 10px;
}

#document-section .button{
  padding: 10px 0;
}
/*
#document-section .more, #document-section .pdf, #document-section .link, #document-section .list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
*/

#document-section a[href$='.pdf']::after, #document-section a[href$='.pdf']::before{
  content:'';
  padding:0;
  margin:0;
}
.inner {
  background:#fff;
  padding: 20px;
  margin: 30px 0;
}
.inner:last-of-type{
  margin-bottom:0;
}
#must-have [class*="wrapper"]::before, #might-need [class*="wrapper"]::before{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
#must-have [class*="wrapper"]:first-child{
	height:70px;
}
#must-have a, #might-need a{
  font-weight:bold;
}

#dom-target {
  display:none;
}

.overview-wrapper::before {
  content:"Overview";
}

.state-wrapper::before {
  content:"State and Federal Filings";
}

.license-wrapper::before {
  content:"Licenses";
}

.taxes-wrapper::before {
  content:"Taxes";
}

.zoning-wrapper::before {
  content:"Zoning";
}

.permit-wrapper::before {
  content:"Permits";
}

.permit,
.zoning,
.taxes,
.license,
.state,
.overview,
.overview-wrapper,
.state-wrapper,
.license-wrapper,
.taxes-wrapper,
.zoning-wrapper,
.permit-wrapper {
  clear:both;
  position:relative;
}

.may-also-need{
  background:#DCDCDC;
  padding:10px;
}
.may-also-need h6{
  text-transform:uppercase;
  font-weight:bold;
  margin:0;
}
/*
.permit,
.zoning,
.taxes,
.license,
.state,
.overview{
  top:50px;
}
*/
/* = General
-------------------------------------------------------------- */
.breadcrumbs {
	font-size:80%;
	background:#f5f5f5;
}
.button {
  display:inline-block;
  padding:10px;
  background:#475A77;
  color:#fff;
}
.button:hover{
	color:#aec0dc;
}
.red {
  background:#E46C53;
  color:#fff;
}
.red.inactive:hover{
	background:#E46C53;
}
.red:hover{
	background:#475A77;
}

.full {
  width:98%;
}
.inactive {
  opacity: 0.3;
}
.group::after {
  content:'';
  display:table;
  clear:both;
}
.right {
  float:right;
}

.label {
  text-align: center;
  font-size: small;
  font-style: italic;
  padding-right: 24px;
}

.box-list {
  background: #F5F5F5;
  padding: 20px;
  overflow:hidden;
  margin-bottom:20px;
}
.box-list{
  color: #929292;
}
.box-list h3{
  font-size:16px;
  letter-spacing:.1em;
}
.box-list:hover, .box-list:hover h3 {
  color:#F5F5F5;
  background:#3d506d;
}

.filter-content {
  width: 64%;
  border: 1px solid #3d506d;
  padding: 10px;
  margin: 10px 0;
}

.launch .inner h3, .launch .inner p {
  margin:0;
}
.steps{
  text-align: center;
  position: absolute;
  top: -111px;
  right: 200px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
  background:#e46c53;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 200px;
  font-size: 12px;
}
.steps span{
  padding-top: 45px;
  display: inline-block;
}
.repo .inner{
  padding:0;
}

.sidebar-right-item{
	background: #f5f5f5;
	padding:20px;
}
.gdlr-sidebar.gdlr-box-with-icon-item{
	padding: 40px 0px 20px;
	font-size:90%;
}
/* = Theme overrides
-------------------------------------------------------------- */
.column, .columns{
  display:block;
}
.gdlr-item.gdlr-main-content {
  margin-bottom: 40px;
}
.gdlr-item-start-content {
	 padding-top:20px;
}
.single .gdlr-item-start-content {
	 padding-top:0;
}
a[href$='.pdf']::before{
  padding:0 6px 0 0;
  content: " \f1c1";
  font-family:"FontAwesome";
}
a[href$='.pdf']::after{
  content:" (PDF)";
}

a.button[href$='.pdf']::before {
  content: "";
  padding:0;
}

a{
  transition: none;
  -moz-transition:none;
  -o-transition: none;
  -webkit-transition: none;
}
.excerpt-read-more {
  display:none;
}
.xtra-small{
  font-size:12px;
  color:#808080;
  width:80%;
}
.marg-top-20{
  margin-top:20px;
}
.marg-top-50{
  margin-top:50px;
}
.marg-bottom-20{
	margin-bottom:20px;
}
.header-block-area .header-block-content {
  font-size: 13px;
}
.hidden{
	visibility: hidden;
}
/* = Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 64em) {
  #document-section .label,
	#document-section .more .button,
	.steps,
	#document-section .inner .more.one,
	#document-section .inner .pdf.one
	{
    display:none;
  }
  #document-section .list {
    position: relative;
    top: 0;
    /*transform: translateY(0);*/
    width:95%;
  }
  .inner {
    padding:0;
  }
  #document-section .list.columns {
    width:100%;
  }
}
